@model IEnumerable<F2018Travel.Models.Destination>

@{
    ViewBag.Title = "Destinations";
}

<h2>Destinations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            <img src="~/Content/Images/@item.Photo" height="75" alt="@item.Name" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region.Region1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DestinationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DestinationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DestinationId })
        </td>
    </tr>
}

</table>
